@CHARSET "UTF-8";
	#selected {
		background-color: gray;
		color: #fff;
	}
	
	.navbar {
		margin-bottom: 0;
	}
	
	/*네비게이션바 고정*/
	.affix {
		top: 0;
		width: 100%;
		z-index: 9999 !important;
	}
	
	.parallex {
		position: relative;
		height: 718px;
		background-image: url("/post/img/${post.image}");
		background-position: center;
		background-repeat: no-repeat;
		background-color: dimgray;
		text-align: center;
		font-weight: bold;
		color: white;
		z-index: -1;
		opacity: .8;
	}
	
	.parallex:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background-color: rgba(0, 0, 0, .4);
	}
	
	#good {
		display: inline-block;
	}
	
	#good a {
		font-size: 3em;
		text-decoration: none;
		color: darkgray;
	}
	
	ul li {
		list-style: none;
	}
	
	.nickname {
		font-weight: bold;
		font-size: 1.3em;
	}
	
	.comment {
		font-weight: bold;
		width: 750px;
		height: auto;
	}
	
	#board_info {
		padding-top: 300px;
	}
	
	#title {
		opacity: .9;
		width: 100%;
		font-size: 40px;
		height: 45px;
		display: block;
		text-decoration: underline;
		z-index: 5;
	}
	
	#writer {
		opacity: .9;
		font-size: 25px;
		width: 100%;
		height: 50px;
		display: inline;
		z-index: 5;
	}
	
	#write_D {
		opacity: .9;
		font-size: 15px;
		width: 100%;
		height: 20px;
		display: inline;
		z-index: 5;
	}
	
	#region {
		opacity: .9;
		width: 100%;
		font-size: 25px;
		height: 45px;
		display: block;
		padding-top: 20px;
		z-index: 5;
	}
	
	.content {
		text-align: center;
		padding-top: 50px;
	}
	
	.container-fluid {
		background-color: white;
		text-align: center;
	}
	
	.re_comment {
		text-align: right;
	}
	
	.profile img {
		display: block;
		width: 50px;
		height: 50px;
	}
	
	.comment_box:nth-child(1) {
		padding-top: 10px;
		background-color: #F9F9F9;
		border-top: #00ACC1 1px solid;
	}
	
	.comment_box {
		padding-top: 10px;
		background-color: #F9F9F9;
		border-bottom: #00ACC1 1px solid;
		float: left;
		text-align: left;
		width: 100%;
	}
	
	.reply_btn {
		text-align: right;
		width: 50%;
		padding: 10px;
		float: right;
		display: inline-block;
	}
	
	.reply_btn input {
		width: 80%;
	}
	
	.update {
		text-align: right;
		float: right;
		width: 85%;
		padding: 10px;
		display: inline-block;
	}
	
	.delete {
		text-align: right;
		float: right;
		padding: 10px;
		display: inline-block;
	}
	
	.update input {
		width: 75%;
	}
	
	.comment_control {
		text-align: right;
		width: 50%;
		float: right;
		display: inline-block;
	}
	
	#my_post {
		padding: 15px;
	}
	
	.repIn {
		margin-right: -50px;
	}
	
	#good{
		cursor: pointer;
		display: inline-block;
		font-size: 2.5em;
	}
	
	#good_box span{
		font-size: 2em;
	}
